<div style="margin-left: 40px;">
  <h1>Get Odds for Your Bus</h1>

  <%= form_for(:wager, :url => {:controller => 'wager', :action => 'get_bus'}) do |f| %>
      <p>Route Number...</p>
      <%= f.text_field :route_number, :value => "22" %>
      <p>Stop Number: <br /> <%= f.text_field :stop_number, :value => "535" %></p>
      <p>Schedule Time: <br /> <%= f.text_field :scheduled_time, :value => "2:20" %></p>
      <%= f.submit :Continue, :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
    <% end %>
    <p style="visibility: hidden; height: 200px;">.</p>
</div>
